<div class="container">

<h1>ショッピングカート</h1>
<%= link_to "カートを空にする", cart_items_all_destroy_path(@cartitem), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn btn-danger" %>
<div class="row">

 <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>　　</th>
    </tr>
  </thead>


      <tbody>
          <% sum = 0 %>
         <% @cartitems.each do |cart_item| %>
        <tr>
            <td> </td>
            <td><%= image_tag cart_item.item.image, size: "70x70" %><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <%= form_with model: cart_item, url:cart_items_path(cart_item), method: :patch do |f| %>
            <td><%= f.select :amount, *[1..3], { selected: cart_item.amount } %><%= f.submit '変更',class:"btn btn-success" %></td>
            <% end %>
          <td><%= cart_item.subtotal %></td>
          <% sum +=cart_item.subtotal %>
          <td><%= link_to "削除する", cart_items_path(cart_item), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
  </table>

  <table class="table table-hover table-inverse col-md-4 offset-md-8">
  <thead>
    <tr>
      <th>合計金額</th>
      <td><%= sum %></td>
    </tr>
  </thead>
  </table>
  <%= link_to "買い物を続ける", items_path,class:"btn btn-primary"%>
  </div>
  </div>
  <%= form_with  url:order_new_path, method: :get do |f| %>
<%= f.hidden_field :sum, :value => sum %>
<%= f.submit "情報入力に進む"%>
<% end %>