<div class="container">
  <div class="row">
   <h2>商品詳細</h2>
  </div>
  
  <div class="row">
    <div class="col-lg-4">
<%= image_tag @item.image, size: "200x200" %>
     </div>

    <div class="col-lg-8">
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p>￥<%= @item.price %></p>
  <%= link_to "カートに入れる",class:"btn btn-success" %>
   </div>
  </div>
</div>